<html>
<head>
<title>Register </title>
</head>

<body>
<h1>Register </h1>
<form action="." method="POST">{% csrf_token %}
    Fullname: <input type="text" name="register_fullname"/><br/>
    Email: <input type="text" name="register_email"/><br/>
    Department: <input type="text" name="register_department"/><br/>
    Password: <input type="text" name="register_password"/><br/>
    RePassword: <input type="text" name="register_repassword"/><br/>
    TeamName: <input type="text" name="register_team_name"/><br/>
    <input type="submit" name="register"/>
</form>
</body>

</html>