<html>
<head>
<title>Create Ticket </title>
</head>

<body>
<h1>Create TIcket </h1>
<form action="." method="POST">{% csrf_token %}
    FromName: <input type="text" name="fromname"/><br/>
    FromEmail: <input type="text" name="fromemail"/><br/>
    To: <input type="text" name="to"/><br/>
    Description: <input type="text" name="description"/><br/>
    Priority: <input type="text" name="priority"/><br/>
    Team: <input type="text" name="team"/><br/>
    Domain: <input type="text" name="domain"/><br/>
    DeadLine: <input type="date" value="datetime-local" name="deadline"/><br/>
    <input type="submit" name="Create"/>
</form>
</body>

</html>